.task-list__item {
    border: 1px solid rgb(12, 132, 187);
    width: 50%;
    padding: 10px 0;
    cursor: pointer;
    border-radius: 5px;
    color: white;
    background-color: rgb(12, 132, 187);
    transition: all 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.accomplished {
    background-color: rgb(48, 179, 9);
}

.task-list__item:hover {
    /* background-color: rgb(233, 12, 12); */
    /* cursor: not-allowed; */
}

.my-node-appear {
    opacity: 0;
}

.my-node-appear-active {
    opacity: 1;
    transition: opacity 1000ms;
}

.my-node-exit {
    opacity: 1;
}

.my-node-exit-active {
    opacity: 0;
    transition: opacity 1000ms;
}